.root {
  margin-right: 290px;

  .searchImg {
    width: 23px;
    position: relative;
    left: 23px;
    top: 7px;
    opacity: 0.5;
  }

  .delete {
    width: 23px;
    opacity: 0.5;
    cursor: pointer;
    position: relative;
    right: 27px;
    top: 7px;

    &:hover {
      opacity: 0.8;
    }
  }

  .input {
    padding-left: 25px;
    width: 250px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
  }

  // .input:focus {
  //   width: 350px;
  // }
}